<?xml version="1.0"?>
<config>
    <modules>
        <MageProfis_RemoveRegisteredConfirmationMail>
            <version>1.0.0.0</version>
        </MageProfis_RemoveRegisteredConfirmationMail>
    </modules>
    <global>
        <helpers>
            <removeregisteredconfirmationmail>
                <class>MageProfis_RemoveRegisteredConfirmationMail_Helper</class>
            </removeregisteredconfirmationmail>
        </helpers>
        <models>
            <customer>
                <rewrite>
                    <customer>MageProfis_RemoveRegisteredConfirmationMail_Model_Customer</customer>
                </rewrite>
            </customer>
        </models>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <removeregisteredconfirmationmail>
                    <files>
                        <default>MageProfis_RemoveRegisteredConfirmationMail.csv</default>
                    </files>
                </removeregisteredconfirmationmail>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <customers>
            <create_account>
                <send_registered_mail>1</send_registered_mail>
                <send_confirmed_mail>1</send_confirmed_mail>
            </create_account>
        </customers>
    </default>
</config>
